# -------------------------------------------------------------
#            Пример переменных окружения
# -------------------------------------------------------------
# Этот файл является ШАБЛОНОМ.
# Чтобы использовать его, скопируйте его в корень проекта,
# переименуйте в .env и заполните своими данными.
#
# ВАЖНО: Файл .env НИКОГДА не должен попадать в Git.
# Убедитесь, что он добавлен в .gitignore
# -------------------------------------------------------------

# --- Пример для реализации хранения cookies в базе данных (SQLAlchemy) ---
# Строка подключения к вашей базе данных.
# Примеры:
# SQLite (файл в корне проекта): DB_CONNECTION_STRING="sqlite:///my_steam_data.db"
# PostgreSQL: DB_CONNECTION_STRING="postgresql://user:password@host:port/dbname"


DB_CONNECTION_STRING= 